<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="res/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="res/css/main.css?v=1.0.1"/>
        <script th:src="@{/res/static/jquery/jquery.min.js}"></script>
        <script th:src="@{/res/static/popper/popper.min.js}"></script>
        <script th:src="@{/res/static/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="logout-container d-flex justify-content-center align-items-center p-0">
            <div class="logout d-flex justify-content-center">
                <div class="card">
                    <div class="card-body d-flex justify-content-center flex-wrap">
                        You have been successfully logged out.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
